html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.3s ease-out;
}

body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif, 'Helvetica Neue', 'Lucida Grande';
}

h1, h2, h4, p{
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Raleway';
  font-size: 52px;
  color: #F02F23;
  letter-spacing: 0.1px;
  line-height: 1.1em;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.6em;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 1.5px;
}

a {
  color: #F02F23;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #F02F23;
}

a:hover {
  color: #0033cc;
  border-bottom: 1px solid #0033cc;
}

p {
  font-size: 23px;
  color: #5E5D5A;
  line-height: 34px;
}

section {
  padding: 100px 0;
  margin: 0 auto;
  width: 100%;
  display: block;
  overflow: auto;
}

section h2 {
  font-family: 'Raleway';
  color: #F02F23;
  font-weight: 700;
  font-size: 41px;
  line-height: 1.4em;
  margin-bottom: 30px;
}

section h3 {
  font-weight: 400;
  font-size: 17px;
  color: #545454;
  letter-spacing: 1.69px;
  line-height: 34px;
  text-transform: uppercase;
}

section p {
  padding: 20px 0;
}

header {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

header h1 {
  font-size: 70px;
  padding-bottom: 0px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1.3px;
  color: white;
}

header h2 {
  font-size: 35px;
  font-weight: 600;
  color: white;
  line-height: 1.2em;
  margin: 20px 0;
  letter-spacing: .8px;
}

.texture:before {
  content: '';
  background: url(../images/img-noise-361x370.png) repeat;
  opacity: 0.25;
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
}

.austin {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3.5px;
  margin: 0;
  padding: 0;
  color: white;
}

.video {
    padding: 60px 0;
    height:100vh;
    overflow: hidden;
}

header h4 {
  font-size: 21px;
  color: white;
  line-height: 1.6em;
  letter-spacing: .7px;
}

blockquote {
  margin: 30px 20px 0 20px;
  padding: 20px;
  background: url(../images/x.gif) rgba(0, 0, 0, 0.3); repeat;
  border-radius: 3px;
  width: 100%;
  float: left;
}

blockquote a {
  color: white;
  border: none;
}

blockquote p {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  letter-spacing: .5px;
  color: white;
  padding-top: 0;
}

blockquote img {
  width: 90px;
  border-radius: 50px;
  margin: 0 0 12px 0;
  border: 2px solid #ccc;
}

.credit {
  float: left;
  width: 30%;
  text-align: center;
  margin: 10px 0;
}
.name {
  margin-bottom: 5px;
  line-height: 1.7em;
  font-size: 14px;
}
.credit a {
  font-size: 12px;
}


.quote {
  float: right;
  width: 70%;
}

.quote p {
  text-align: left;
  line-height: 1.6em;
}



#container{
  width: 100%;
  background: white;
  text-align: center;
  margin: 0 auto;
}

.cta {
  display: inline-block;
  margin: 40px 10px;
}

.btn {
  position: relative;
  border: 1px solid blue;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  width: 45%;
  margin: 50px 0.2em 0 0.2em;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  line-height: 1.6em;
  text-decoration: none;
}

.btn:hover {
  opacity: .8;
}

.primary {
  background-color: rgba(0,51,204,.8);
  border: 0;
}

.primary:hover {
  color: white;
  border:0;
}

/*Header Video */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-content {
  width: 55%;
  max-width: 650px;
  padding-top: 20px;
  margin: 0 auto;
  color: white;
  overflow: hidden;
}

.inner_content {
  width: 70%;
  margin: 0 auto;
  max-width: 1100px;
}

/*Requirements List Toggle */

.license {
  width: 30%;
  margin: 40px 0 0px 0;
  max-width: 500px;
  float: left;
  -webkit-box-shadow: 6px 6px 2px 1px rgba(208,229,234,.8);
  -webkit-box-shadow: -4px 34px 74px -34px rgba(0,0,0,0.28);
  -moz-box-shadow: -4px 34px 74px -34px rgba(0,0,0,0.28);
  box-shadow: -4px 34px 74px -34px rgba(0,0,0,0.28);
  transition: .2s ease-in-out;

}

.license:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);

}

.requirements {
  font-size: 18px;
  line-height: 32px;
  list-style-type: decimal;
  color: #545454;
}

.requirements li {
  border-bottom: none !important;
}

#toggle-view {
  float: right;
  list-style:none;
  width: 60%;
  font-size:11px;
  padding:0;
  text-align: left;
}

#toggle-view li {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
}

.list--label {
  text-transform: uppercase;
  letter-spacing: 1.67px;
  font-size: 16px;
}

.list--label:hover {
  color: #F02F23;
}

#toggle-view li:first-child {
  padding-top: 0px;
}

#toggle-view li:last-child {
  border: none;
  margin-bottom: 80px;
}

#toggle-view h2 {
  padding: 15px 0;
  font-weight: 800;
  color: #545454;
}

#toggle-view h2:hover {
  color: #175FED;
}

#toggle-view .panel p {
  font-size: 18px;
  line-height: 32px;
}

#toggle-view span {
  position:absolute;
  right:10px;
  top: 25px;
  color:#F02F23;
  font-size:24px;
}

#toggle-view .panel {
  margin:5px 0;
  display:none;
}

/* Callout */
.callout{
  background: url(../images/secondary_bg.jpg) no-repeat center;
  background-color: #F02F23;
  background-size: cover;
  padding: 150px 0;
  color: white;
}

.callout__content {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}

.callout__content h2 {
  color: white;
}

.supporting-header {
  color: #545454;
  padding: 20px 0;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.69px;
}

.decorative {
  color: white !important;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  margin-top: 20px;
  color: #F02F23;
  letter-spacing: 0.1px;
  line-height: 1.3em;
  text-transform: none;
  text-align: center;
}

.background--blue {
  background-color: #E2F5F9;
}

/*Prohibited Locations */

.prohibit_locations:hover .flipper, .prohibit_locations.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
  margin: 0 auto;

}

.front, .back {
  margin: 0 auto;
  background-color: white;
  width: 100%;
  padding: 20px;
  min-height: 180px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: -4px 34px 74px -34px rgba(0,0,0,0.28);
  -moz-box-shadow: -4px 34px 74px -34px rgba(0,0,0,0.28);
  box-shadow: -4px 34px 74px -34px rgba(0,0,0,0.28);
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  background-color: #0033cc;
}

.prohibit_locations {
  float: left;
  position: relative;
  perspective: 1000px;
  width: 23%;
  min-height: 190px;
  padding: 0px 0 20px 0px;
  margin: 30px 10px 0 0;
  display: block;
  text-align: center;
}

.prohibit_locations h3 {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

.prohibit_locations img {
  height: 100px;
  margin-bottom: 15px;
}

.prohibit_locations p {
  padding: 0;
  font-size: 15px;
  line-height: 1.4em;
  color: white;
}

/*Viewpoints*/

.half {
  width: 50%;
  padding: 4%;
  float: left;
  border-right: 2px dashed #ccc;
  text-align: center;
  margin: 40px 0;

}

.half h1 {
  font-family: 'Raleway';
  color: #F02F23;
  font-weight: 700;
  font-size: 41px;
  line-height: 1.4em;
  margin: 20px auto;
  text-align: center;
}

.half p {
  padding: 0;
}

.right {
  float: right;
  border: none;
}

.right h1 {
  color: #0033cc;

}

/* Signs */

.sign {
  background-color: white;
  border: 1px solid #ddd;
  border-top: 3px solid #4a4a4a;
  position: relative;
  float: left;
  text-align: left;
  width: 47%;
  padding: 25px;
  margin: 30px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.09);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.09);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  min-height: 260px;
}

.sign p {
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
}

.sign h3 {
  font-size: 14px;
  color: #8E8E8E;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.sign img {
  padding: 20px;
  height: 120px;
}

/* Google Map */
#map h2 {
  margin: 0;
}

#map p {
  margin-bottom: 50px;
}
/* Gun Quiz */

.supporting-header {
  color: white;
}

.clear {
  clear: both;
}

.gun_choice1, .gun_choice3 {
  float: left;
}
.gun_choice1, .gun_choice2 {
  padding-top: 40px;
}


.gun_choice2, .gun_choice4 {
  float: right;
}

.gun_choice1,
.gun_choice2,
.gun_choice3,
.gun_choice4 {
  position: relative;
  border: 1px solid #760000;
  width: 48%;
  height: 300px;
  margin: 0px auto;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
    background: url(../images/x.gif) repeat;

}

.gun_choice1:hover,
.gun_choice2:hover,
.gun_choice3:hover,
.gun_choice4:hover{
  border: 1px solid white;
}


.gun_choice_select {
  transition: .1s ease-out;
  background: url(../images/wrong.svg) rgba(255,0,0,0.5) no-repeat 50% 15%;
}

.gun_choice1 img,
.gun_choice2 img,
.gun_choice3 img,
.gun_choice4 img  {
  height: auto;
  width: auto;
  max-width: 300px;
  margin: 20px auto;
  transition: .2s ease-out;
  z-index: 99;
}

.gun_choice1 img:hover,
.gun_choice2 img:hover,
.gun_choice3 img:hover,
.gun_choice4 img:hover {
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  cursor: pointer;
}

.caption {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.4em;
  margin: 0 auto;
  color: white;
  bottom: 0;
  padding-top: 30px;
  position: absolute;
}

/* Statistics */

.graph {
  margin: 60px 0;
  overflow: hidden;
}

.graph h1 {
  margin-top: 30px;
}

.graph h2 {
  margin: 30px 0 0 0;
  padding: 0;
}

.graph p {
  margin: 0;
  padding: 0;
}

/* Resources */

.sources {
  margin: 0;
  padding: 0;
  background-color: #585859;
}

#resources-toggle {
  list-style:none;
  width: 80%;
  font-size:11px;
  margin: 0 auto;
  padding:0;
  text-align: left;
  color: white;
}

#resources-toggle li {
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
}

#resources-toggle li p {
  color: white;
}

#resources-toggle .rPanel p {
  font-size: 18px;
  line-height: 32px;
  color: #3D3DCA;
}

#resources-toggle span {
  position: absolute;
  right: 10px;
  top: 25px;
  color: white;
  font-size: 24px;
}

#resources-toggle .rPanel {
  margin: 5px 0;
  display: none;
}

#resources-toggle li {
  border-bottom: none;
}

.rPanel ul {
  padding: 20px 0;
}

.rPanel ul, .rPanel li a, .rpanel li{
  border-bottom: none;
  text-decoration: none;
  color: #3D3DCA;
  font-size: 18px;
  line-height: 1.9em;
}

.rPanel li a:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid #3D3DCA;
}

/* Footer */

footer {
  clear: both;
  background-color: #EA6036;
  width: 100%;
  padding: 50px 0 120px 0;
  color: white;
  overflow: hidden;
}

.about {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.emoji {
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
  position: relative;
  width: 100px;
}

footer p {
  padding: 0;
  color: white;
}

footer a {
  color: white;
  border-bottom: 1px solid white;
}

footer a:hover {
  color: red;
  border-bottom: 1px solid red;

}

/* Back to Top */
a.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  border: 0;
  border-radius: 3px;
  background: #585859 url("../images/arrow_top.svg") no-repeat center 43%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 950px) {
  .sign {
    width: 100%;
    margin: 20px 0;
    }

  .video-content {
    width: 100%;
  }

  .prohibit_locations {
    width: 45%;
    margin: 10px 10px;
  }


  .gun_choice1 img, .gun_choice2 img, .gun_choice3 img, .gun_choice4 img {
    width: 100%;
    height: auto;
  }

  .license, #toggle-view {
    width: 100%;
    float: none;
  }

  .sign {
  min-height: 200px;
  }

}


@media (max-width: 770px) {

  .quote-container, blockquote, .quote-container #resources-toggle, .license, .two, .gun_choice1,  .gun_choice2,  .gun_choice3,  .gun_choice4, .prohibit_locations, .video-content, #toggle-view, .sign {
    width: 100%;
  }

  .back {
    display: none;
  }

 .flipper {
   -o-transition-property: none !important;
   -moz-transition-property: none !important;
   -ms-transition-property: none !important;
   -webkit-transition-property: none !important;
   transition-property: none !important;
   -o-transform: none !important;
   -moz-transform: none !important;
   -ms-transform: none !important;
   -webkit-transform: none !important;
   transform: none !important;
   -webkit-animation: none !important;
   -moz-animation: none !important;
   -o-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
  }

  a.back-to-top {
    display: none;
  }

  .video {
    padding: 60px 0;
    height: auto;
  }

  .video video {
    display: none;
  }

  .fullscreen-bg {
    background: red url("../images/4-mounted-cops.jpg") no-repeat top;
    background-size: cover;
  }

  blockquote {
    text-align: left;
    width: 100%;
  }

  .gun_choice1, .gun_choice2, .gun_choice3, .gun_choice4 {
    float: none;
    margin-bottom: 10px;
  }

  .gun_choice1 img, .gun_choice2 img, .gun_choice3 img, .gun_choice4 img {
    width: 90%;
    height: auto;
  }

  header, .list--label, .inner_content, .footer_content, .graph img, .callout__content {
    width: 93%;
  }

   .me, .me p, .emoji, p .emoji {
    font-size: 100px;
  }

  .list--label {
    line-height: 1.3em;
    font-size: 14px;
    width: 90%;
  }

  .about {
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  cite {
    margin: 0 auto;
    float: none;
  }

  .me {
    margin: 20px auto;
    font-size: 100px;
    position: relative;
  }

  .clear {
    display: none;
  }

  .me, .about {
    float: none;
    text-align: center;
  }

  .emoji {
      margin: 28% auto;
  }

  header, section, .video-content {
    padding: 20px 0;
    margin: 0 auto; -o-transition-property: none !important;
   -moz-transition-property: none !important;
   -ms-transition-property: none !important;
   -webkit-transition-property: none !important;
   transition-property: none !important;
   -o-transform: none !important;
   -moz-transform: none !important;
   -ms-transform: none !important;
   -webkit-transform: none !important;
   transform: none !important;
   -webkit-animation: none !important;
   -moz-animation: none !important;
   -o-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
  }

  .btn {
    width: 100%;
  }

  .video-content h1 {
    line-height: 1.1em;
  }

  .prohibit_locations {
    margin: 5px 0;
  }

  .sign {
    margin: 20px 0;
  }

  .half {
    width: 100%;
    border-right: none;
    border-bottom: 2px dashed #ccc;
  }

  .right {
    border: none;
  }
  .half h1 {
    text-align: center;
  }

  .btn {
    margin: 20px 0 0 0;
  }

  blockquote {
    padding: 40px 0px;
    margin: 10px auto;
  }

blockquote p {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  letter-spacing: .5px;
  color: white;
  padding: 0;
  width: 94%;
}

blockquote img {
  width: 90px;
  border-radius: 50px;
  margin: 0 0 12px 0;
  border: 2px solid #ccc;
}

.credit {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.quote {
  width: 93%;
}


}

.fullscreen-hero {
  height: 100vh;
  min-width: 100%;
}

.center-text {
  text-align: center;
}
