<section class="video">
  <div class="fullscreen-bg">
    <div class="texture">
      <img src="images/4-mounted-cops.jpg" alt="Four Police on Horseback patrol 6th street" class="fullscreen-hero"/>
    </div>
  </div>
  <header>
    <h1>Police Body Cameras</h1>
    <h4>IN AUSTIN, TEXAS</h4>
    <div class="inner_content hero-content">
      <p>Austin Police Department (APD) will soon be equipped with body-worn cameras. Find out more about what this technology means for police accountability, government transparency and individual privacy.</p>
      <a class="btn primary" href="#texas-law">Learn the Law</a>
      <a class="btn" href="/posts">Latest News</a>
    </div>
  </header>
</section>
