.post-content {
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 20px;
  }
}

.post.inner-content {
    display: block;
}

h2.post-title {
    text-align: center;
}

.post-content li.post-index-item {
  margin-bottom: 40px;
}
