<section class="background--blue">
  <div class="inner_content">
    <img src="images/bullet.svg" onerror="this.src='images/png/bullet.png'; this.onerror=null;" alt="bullet">
    <h3>What's required to get a CHL?</h3>
    <h2>Texas CHL Requirements</h2>
    <img src="images/chl.jpeg" alt="Concealed handgun license" class="license"/>
    <ul id="toggle-view">
      <li>
        <p class="list--label">21 years old & TX residency</p>
        <span>+</span>
        <div class="panel">
          <p>Applicants must be at least 21 years of age (unless active duty military) and must meet federal qualifications to purchase a handgun.</p>
          <p>Must be a legal resident of this state for the six-month period preceding the date of application under this subchapter or is otherwise eligible for a nonresident license.</p>
        </div>
        </li>

        <li>
            <p class="list--label">Clean criminal history</p>
          <span>+</span>
            <div class="panel">
              <p>Not currently charged with the commission of a felony, Class A or Class B misdemeanor, or equivalent offense, or an offense under Sec. 42.01 of the penal Code (Disorderly Conduct) or equivalent offense, is not a fugitive from justice for a felony, Class A or Class B misdemeanor, or an equivalent offense.</p>
          </div>
        </li>

        <li>
          <p class="list--label">Proficiency exam</p>
          <span>+</span>
          <div class="panel">
            <ul class="requirements">
            <li>Twenty shots (20) will be fired from 3 yards.</li>
            <li>Twenty shots (20) will be fired from 7 yards – fired 5 stages.</li>
            <li>Ten shots (10) fired from 15 yards – fired in two 5-shot strings.</li>
          </ul>
          </div>
        </li>

        <li>
          <p class="list--label">Classroom training</p>
          <span>+</span>
          <div class="panel">
            <p>The classroom instruction may be a four to six hour course and must cover the four (4) statutory required topics:</p>
          <ol class="requirements">
            <li>Laws that relate to weapons and the use of deadly force</li>
            <li>Handgun use and safety, including use of restraint holsters and methods to ensure the secure carrying of openly carried handguns</li>
            <li>Non-violent dispute resolution</li>
            <li>Proper storage practices for handguns with an emphasis on storage practices that eliminate the possibility of accidental injury to a child</li>
          </ol>
          </div>
         </li>
    </ul>
  </div>
</section>
