<section class="callout">
  <div class="callout__content">
    <span class="supporting-header">Did you know?</span>
      <h2 class="decorative">On August 1, 2016 it will be legal to carry concealed guns at colleges & universities.</h2>
      <blockquote>
        <div class="credit">
          <img src="images/fenves.png" alt="Gregory Fenves"/><br>
          <span class="name">Gregory Fenves</span><br>
          <a href="http://president.utexas.edu/messages/campus-carry-policies" target="_blank">UT Austin President</a>
        </div>
        <div class="quote"><p>"Under the law, I cannot adopt a policy that has the general effect of excluding licensed concealed handguns from campus...I agree with the working group that a classroom exclusion would have this effect...I do not believe handguns belong on a university campus, so this decision has been the greatest challenge of my presidency to date."</p>
        </div>
      </blockquote>
      <blockquote>
        <div class="credit">
          <img src="images/j_jin.jpg" alt="Jessica Jin"/><br>
          <span class="name">Jessica Jin</span><br>
          <a href="http://www.cocksnotglocks.org/" target="_blank">Campus (Dildo) Carry</a>
        </div>
        <div class="quote"><p>"I need this proliferation of dildos to offer people a visual representation of what it would be like if we all carried guns. It should look ridiculous to you. That is the point. This is America; if guns and bloodshed don't wake people up, a public celebration of sexuality may just do the trick."</p>
        </div>
      </blockquote>
      <blockquote>
        <div class="credit">
          <img src="images/joan.png" alt="Senator Joan Huffman"/><br>
          <span class="name">Sen. Joan Huffman</span><br>
          <a href="https://www.texastribune.org/2016/01/26/texas-lawmakers-dont-single-out-students-who-carry/" target="_blank">R-Houston</a>
        </div>
        <div class="quote"><p>"They have a right to carry [guns] and have passed a background check...I hope you don't put these individuals in a place where they are treated differently than other students."</p>
        </div>
      </blockquote>

  </div>
</section>
