<section class="callout">
  <div class="callout__content">
    <span class="supporting-header">Did you know?</span>
    <h2 class="decorative">Select the guns below that are not allowed to be carried openly.</h2>
    <p class="clear"></p>

    <div class="gun_choice1">
      <img src="images/guns/ar15_sniper_rifle.png" alt="Rifle"/>
      <p class="caption">Semi-automatic rifle</p>
    </div>
    <div class="gun_choice2">
      <img src="images/guns/mossberg_590.png" alt="Shotgun"/>
      <p class="caption">Mossberg 590 shotgun</p>
    </div>
    <p class="clear"></p>
    <div class="gun_choice3">
      <img src="images/guns/revolver.png" alt="Revolver"/>
      <p class="caption">Smith & Wesson M&P revolver</p>
    </div>
    <div class="gun_choice4">
    <img src="images/guns/cz.png" alt="Pistol"/><p class="caption">CZ 75 Semi-automatic pistol</p>
    </div>
  </div>
</section>
