<h1 id="austin-can-do-better">Austin can do better</h1>
<p>APD officers will soon be wearing video cameras. The city-wide conversation about how this should work is just getting started, but the draft policy released last winter [<a href="http://www.austintexas.gov/sites/default/files/files/Police/113016_highlights_body_worn_camera.pdf">http://www.austintexas.gov/sites/default/files/files/Police/113016_highlights_body_worn_camera.pdf</a>] does not address these issues at all. Austin can require APD be both more transparent and more accountable by demanding the city follow broad principles like these:</p>
<ul>
<li>Transparency and accountability are  “law enforcement purposes”</li>
<li>All critical incident video (officer involved death or injury) will be promptly released to the public;</li>
<li>Each Austinite can decide for ourselves if a video involving us should be public or not</li>
<li>The video material held by APD should not be used for general surveillance or aggregated with other data  </li>
</ul>
