<section class="background--blue">
  <div class="inner_content">
    <img src="images/bullet.svg" onerror="this.src='images/png/bullet.png'; this.onerror=null;" alt="bullet">
    <h3>When is open carry prohibited?</h3>
    <h2>There are exceptions to the law.</h2>

      <div class="prohibit_locations" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="images/beer.svg" onerror="this.src='images/png/beer.png'; this.onerror=null;" alt="Bars">
            <h3>At Bars</h3>
          </div>
          <div class="back">
            <p>All guns are banned at businesses that make 51% of their money from the sale of alcohol.</p>
          </div>
        </div>
      </div>

      <div class="prohibit_locations" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="images/hospital.svg" onerror="this.src='images/png/hospital.png'; this.onerror=null;" alt="Hospitals">
            <h3>At Hospitals</h3>
          </div>
          <div class="back">
            <p>Existing law ban guns in state-licensed hospitals, but it doesn’t include psychiatric hospitals because they aren’t licensed by the state.</p>
          </div>
        </div>
      </div>

    <div class="prohibit_locations" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="images/school.svg" onerror="this.src='images/png/school.png'; this.onerror=null;" alt="school">
            <h3>Schools</h3>
          </div>
          <div class="back">
            <p>Open carry is banned at schools. However in August 2016, the new campus carry law will go into effect and allow concealed carry.</p>
          </div>
        </div>
      </div>

    <div class="prohibit_locations" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="images/drunk.svg" onerror="this.src='images/png/drunk.png'; this.onerror=null;" alt="Drunk">
            <h3>While Drunk</h3>
          </div>
          <div class="back">
            <p>You can't carry while intoxicated/on drugs - whenever you don't have the normal use of your mental/physical faculties as a result of some substance.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
