<section>
  <div class="inner_content">
    <h3>What are people saying?</h3>
    <div class="half">
      <img src="images/bullet.svg" onerror="this.src='images/png/bullet.png'; this.onerror=null;" alt="bullet">

      <h1>Proponents</h1>
      <p>Denying the right to open carry infringes on the Second Amendment. It's another way for law-abiding individuals to protect themselves. Displaying a gun openly could deter criminals from taking action. Other states allow open carry with no problems.</p>
    </div>

    <div class="half right">
      <img src="images/bullet.svg" onerror="this.src='images/png/bullet.png'; this.onerror=null;" alt="bullet">
      <h1>Opponents</h1>
      <p>The law will increase the risk of gun-related injuries and deaths, whether it be accidental or intentional. Open carry will create an atmosphere of intimidation and fear. Police will have a hard time discerning between criminals and gun-carrying law abiding citizens.</p>
    </div>
  </div>
</section>
