<section class="sources">
  <div class="inner_content">
    <ul id="resources-toggle">
      <li class="source_list">
        <p>Sources</p>
        <span>+</span>
        <div class="rPanel">
          <ul>
            <li><a href="https://www.flickr.com/photos/mccaffry/4440316752/in/photolist-7LnMto-pUWEGn-aAirpy-6Kq8hK-3NXuP-aAiseq-aAisju-8UbA4P-nKGRyQ-aAfJQn-bUrHZm-ecz7EF-73iTFL-p9DUYi-yQ8Ti-aAit7q-8MpwbA-bmu1gk-ce1zFY-b8onqv-iBTaBU-7jMSXn-7GemEf-9hfHnP-p89DWT-eYMinb-8atCDz-qtrgz3-aAfK2r-Nw9Gw-aAfJMv-aAirCo-aAirwd-jFZeGw-aAfKNP-tjZdt8-fBkWq8-aAisqu-aAisXm-nMKq1r-rT7cxk-bDYUrY-aAitdA-aAisnf-8H1JE8-aAfKZP-aAis3N-iGMC8-bSTEu2-aAirtm" target="_blank">[Photo Credit] Mounted Police @mccaffry on Flickr</a></li>
            <li><a href="https://www.brennancenter.org/analysis/police-body-camera-policies-privacy-and-first-amendment-protections" target="_blank">[Article] Brennan Center for Justice - Police Body Camera Policies: Privacy and First Amendment Protections</a></li>
            <li><a href="https://www.washingtonpost.com/news/the-watch/wp/2016/02/05/a-new-report-shows-the-limits-of-police-body-cameras/" target="_blank">[Article] Washington Post: A new report shows the limits of police body cameras</a></li>
            <li><a href="./documents/APD_Policy_2015-2_Issued_5-1-2015-updated.pdf" target="_blank">[Government Document] APD Policy Manual</a></li>
            <li><a href="https://www.austintexas.gov/financeonline/vendor_connection/solicitation/solicitation_details.cfm?sid=110270" target="_blank">[Government Website] City of Austin body cam vendor RFP</a></li>
            <li><a href="http://www.austintexas.gov/APDbodycam" target="_blank">[Government Website] APD Bodycam homepage</a></li>
            <li><a href="http://www.capitol.state.tx.us/tlodocs/84R/billtext/html/SB00158F.htm" target="_blank">[TX State Bill] Legislation authorizing body cams and setting the legal framework for Texas: 84(R) SB 158 - Enrolled version - Bill Text</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
