<section class="sources">
  <div class="inner_content">
      <ul id="resources-toggle">
        <li class="source_list">
          <p>Sources</p>
        <span>+</span>
        <div class="rPanel">
            <ul>
          <li><a href="https://thenounproject.com/term/handcuffs/66943/" target="_blank">Handcuffs created by Konrad Michalik</a></li>
            <li><a href="https://thenounproject.com/term/wrong/333717" target="_blank">Wrong created by Oliver Kittler</a></li>
            <li><a href="https://thenounproject.com/term/gun-holster/197974" target="_blank">Gun Holster created by Fabián Zapata Hena</a></li>
            <li><a href="https://thenounproject.com/term/school/10119" target="_blank">School created by PJ Sourders</a></li>
            <li><a href="https://thenounproject.com/term/hospital-gown/210799" target="_blank">Hospital Gown created by Nichole Portantiere</a></li>
              <li><a href="https://thenounproject.com/term/beer/169415" target="_blank">Beer created by Simon Child</a></li>
            <li><a href="https://thenounproject.com/term/bullet/131510" target="_blank">Bullet created by artworkbean</a></li>
            <li><a href="http://timberfox15.deviantart.com/art/ar-15-sniper-rifle-105021301" target="_blank">AR-15 Sniper Rifle by timberfox15</a></li>
            <li><a href="https://commons.wikimedia.org/wiki/File:M%26Prevolver.jpg" target="_blank">Smith & Wession M&P Victory model revolver by Oleg Volk</a></li>
            <li><a href="https://www.flickr.com/photos/peosoldier/4639041243/in/set-72157621946887368/" target="_blank">M500 Shotgun by PEO Soldier</a></li>
              <li><a href="https://www.flickr.com/photos/nealaus/3661154691/" target="_blank">Free State Project - PorcFest 2009 - Open Carry by Lucio Eastman</a></li>
            <li><a href="http://www.texaschllicense.com/renewal-of-license/texas_concealed_handgun_license/" target="_blank">Texas Concealed Handgun License</a></li>
              <li><a href="http://www.txdps.state.tx.us/RSD/CHL/faqs/index.htm" target="_blank">Frequently Asked Questions</a></li>
            <li><a href="http://gunfreebusinesses.com/" target="_blank">Texas Gun Free Businesses</a></li>
            <li><a href="http://www.nytimes.com/2016/01/01/us/-2016-01-01-texas-open-carry-gun-law.html?_r=1" target="_blank">Gun-Friendly Texas Is Getting Even Friendlier</a></li>
            <li><a href="http://www.txdps.state.tx.us/rsd/chl/reports/demographics.htm" target="_blank">Concealed Handgun Licensing Reports & Statistics</a></li>
            <li><a href="http://www.mysanantonio.com/news/local/article/Open-carry-texas-gun-map-CHL-ZIP-6777817.php" target="_blank">Who's licensed to open carry? The 40 ZIPs in Texas where the most CHL holders live</a></li>
            <li><a href="http://derekeder.com/searchable_map_template/" target="_blank">Searchable Map Template</a> by Derek Eder</li>
            <li><a href="http://dining.blog.austin360.com/2016/01/04/list-of-austin-restaurants-opting-out-of-open-carry/" target="_blank"> List of Austin restaurants opting out of open carry</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
