<h2 id="-button-the-good-">[button] The good:</h2>
<p>A grant program has encouraged widespread adoption of body cameras, including here. Civilians who file a complaint against an officer will be able to view the video at some point. Departments must keep the video for at least 90 days. Cities can have local policies that improve on the state framework.</p>
<h2 id="-button-the-bad-">[button] The bad:</h2>
<p>Officers, but not civilians, will be allowed to review the video of an incident before making a statement. Cities can refuse to release video of major incidents to the public, just like Chicago, unless the local policy says otherwise. Video could be recording when an officer walks into your home.</p>
<h3 id="-button-read-texas-new-law-http-www-capitol-state-tx-us-tlodocs-84r-billtext-html-sb00158f-htm-">[button] <a href="http://www.capitol.state.tx.us/tlodocs/84R/billtext/html/SB00158F.htm">Read Texas&#39; new law</a></h3>
