<p><img src="images/bullet.svg" alt="bullet"></p>
<p><h2>What are body worn cameras?</h2></p>
<p>&quot;On-officer recording systems&quot; (also called &quot;body cams&quot; or &quot;cop cams&quot;) are small, pager-sized cameras that clip on to an officer&#39;s uniform or are worn as a headset, and record audio and video of the officer&#39;s interactions with the public. Recent surveys suggest that about 25% of the nation’s 17,000 police agencies were using them, with fully 80% of agencies evaluating the technology.</p>
