<!DOCTYPE html>
<html lang="en">
<head>
	@@include('head.html')
</head>

<body>
	@@include('hero.html')

	<div id="container">
		<div class="inner_content">
			@@include('_what.html')
			@@include('_why.html')
			@@include('_texas.html')
			@@include('_austin.html')
			@@include('_privacy_and_accountability.html')
			@@include('_vendors.html')
			@@include('_resources.html')
		</div>
	</div>

	<footer>
		@@include('footer.html')
	</footer>

<a href="#" class="back-to-top">Back to Top</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
