<img class="svg svg--balance" src="/images/icons/balance.svg"/>

<h2 id="austin-can-balance-privacy-and-accountability">Austin can balance privacy and accountability</h2>

<div class="half">
  <h3 id="privacy">Privacy</h3>
  <p>Austin can give people control over our privacy by requiring, at the end of an ordinary interaction (traffic stop, street encounter), that officers tell us that we have been taped and ask if we wish to opt-in to public release. Opt-in/Opt-out choices are a familiar way to facilitate the level of privacy different people prefer.</p>
</div>

<div class="half--right">
  <h3 id="transparency">Transparency</h3>
  <p>Austin can decide that transparency and accountability are integral to effective law enforcement and that the city will promptly release audio and video of all critical incidents (shootings, injuries). The city can facilitate release all video where a person has opted-in by posting the file to an open site with all the state-law required information.</p>
</div>
