<img class="svg svg--texas" src="/images/icons/texas.svg"/>

<h2 id="in-2015-texas-passed-a-body-cam-law">In 2015, Texas passed a body cam law</h2>

<div class="half">
  <img class="svg svg--thumbs-up" src="/images/icons/thumbs-up.svg"/>
  <h3 id="the-good-">The good:</h3>
  <ul>
    <li>A grant program has encouraged widespread adoption of body cameras, including here.</li>
    <li>Civilians who file a complaint against an officer will be able to view the video at some point.</li>
    <li>Departments must keep the video for at least 90 days. Cities can have local policies that improve on the state framework.</li>
  </ul>
</div>

<div class="half--right">
  <img class="svg svg--thumbs-down" src="/images/icons/thumbs-down.svg"/></p>
  <h3 id="the-bad-">The bad:</h3>
  <ul>
    <li>Officers, but not civilians, will be allowed to review the video of an incident before making a statement.</li>
    <li>Cities can refuse to release video of major incidents to the public, just like Chicago, unless the local policy says otherwise. - Video could be recording when an officer walks into your home.</li>
  </ul>
</div>

<div class="full inline-block">
  <a href="http://www.capitol.state.tx.us/tlodocs/84R/billtext/html/SB00158F.htm" class="btn primary">Read the Texas Law</a>
</div>
